<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Document</title>
  </head>
  <body>
    <div>

      <div class='text-to-translate'>
        <p id='text'>Some text</p>
      </div>
      <div class='buttons'>
        <button type='button'>Full English</button>
        <button type='button'>1 step back</button>
        <button type='button'>Translate 1 word</button>
        <button type='button'>Full Russian</button>
      </div>
      <script type='module' src='/js/text-handlers.js'></script>
    </div>
  </body>
</html>